<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lawnmowers Simulation</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/Users/junyan/Workspace/OMSCS/CS6310-Software Architecture & Design/Assignment7/GUI/main-panel/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Users/junyan/Workspace/OMSCS/CS6310-Software Architecture & Design/Assignment7/GUI/main-panel/src/main/resources/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/Users/junyan/Workspace/OMSCS/CS6310-Software Architecture & Design/Assignment7/GUI/main-panel/src/main/resources/static/css/styles.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      <!-- Here starts header -->
      <header class="row">
        <div class="col-md-12 text-uppercase">
          <h3 class="text-blue">Lawnmowers Simulation</h3>
        </div>
      </header>

      <!-- Here starts main content -->
      <main>
        <!-- 3 Buttons -->
        <div class="row">
          <section class="col-md-2">
            <button type="button" onclick="alert('Hello world!')">Next Step</button>
          </section>

          <section class="col-md-2">
            <button type="button" onclick="alert('Hello world!')">Stop & Restart</button>
          </section>

          <section class="col-md-2">
            <button type="button" onclick="alert('Hello world!')">Fast-Forward</button>
          </section>
        </div>
        <!-- Mower States table -->
        <h4 class="text-blue">Mower States</h4>
        <div class="row">
          <div class="col-md-6 table-responsive">
            <div class="tableFixHead">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Mower ID</th>
                    <th scope="col">Mower Status</th>
                    <th scope="col">Energy Level</th>
                    <th scope="col">Stalled Turns</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td >N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>N/A</td>
                    <td>30</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Summary Information -->
        <h4 class="text-blue">Summery Info</h4>
        <div class="row">
            <div class="col-md-6 table-responsive">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Initial Grass</th>
                    <th scope="col">Grass Cut</th>
                    <th scope="col">Grass Left</th>
                    <th scope="col">Turns Done</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">35</th>
                    <td>1</td>
                    <td>34</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </main>
    </div>
  </body>
</html>